.custom-card .Login-Button {
  width: 60%;
  height: 50px;
  border-radius: 72px;
  background-color: #e2bf44;
  color: white;
  padding: 19px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: none;
  margin: 20px 0px;
}

.custom-card .red_color {
  color: red;
}

.LoginImage {
  width: 50%;
  height: 100%;
}
.signUp{
  color:#0d6efd !important;
}

.custom-card .LoginDetails {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}

.custom-card .Login-Heading2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
.custom-card .password-input-container {
  position: relative;
}
.custom-card .login-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.custom-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40% !important;
  height: 110%;
}

/* .login-btn.google {
  background-color: #DB4437;
} */

.custom-card .login-btn:hover {
  /* background-color: white; */
  background-color: #e2bf44;
}

.custom-card .login-btn img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.custom-card .password-input-container input[type="password"] {
  padding-right: 30px; /* Adjust as needed */
}

.custom-card .password-icon {
  position: absolute;
  top: 70%;
  right: 5px; /* Adjust as needed */
  transform: translateY(-50%);
}
@media only screen and (max-width: 800px) {
  .LoginImage {
    display: none;
  }
  .LoginDetails {
    width: 100%;
  }
  .custom-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:90% !important;
  }
  .custom-card .Login-Button {
    width: 100%;
  }

  .Login-Button {
    width: 100%;
  }
  .Login-Heading2 {
    font-size: 16px;
  }
}

@media only screen and (height: 1080px) {
  .custom-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:85% !important;
  }
}

@media only screen and (width: 1080px) {
  .custom-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:85% !important;
  }
}