.Order{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Order-Main-Box1-Box{
    width:60%;
}
.OrderBox1{
   height:auto;
   width: 90%;
   border:2px solid black;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 10px;
   padding: 50px 50px;
   
}


.OrderBox1-Box1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0px 0px 50px 0px;
    border-bottom: 1px solid black;
    
}


.OrderBox2-Box1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:50px 0px 0px 0px;
    
}

.Order-Amount{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 600;
}

.Order-PaidBy{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 500;
}

.Order-Date{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 400;
}

.Order-Address{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 400;
    color: #E2BF44;
}

.Order-Details{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 400;
    color: #E2BF44;
}

.Order-Main-Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   width: 100%;
}
.Order-Main-Box1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Order3{
    height:auto;
   width: 90%;
   border:2px solid black;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 10px;
   padding: 50px 50px;
}

.Order3-Box{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 10px 0px;
font-family: 'poppins';
font-size: 24px;
font-weight: 400;
}

.Order4{
    width: 90%;
    margin: 189px 0px  20px 0px;
    font-family: 'poppins';
}
.Order4-Box1{
    font-weight: 600;
    font-size: 30px;
    color:black;
}

.Order4-Box2{
    font-weight: 500;
    font-size: 24px;
    color:black;
}

.Order4-Box3{
    font-weight: 500;
    font-size: 24px;
    color:#8B8B8B;
    width: 30%;
}

.Order4-Box4{
    font-weight: 500;
    font-size: 24px;
    color:#8B8B8B;
    
}

.Order4-Box{
    margin: 10px 0px 20px 0px;
}

.Order5{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:138px 0px;
}

.Order5Button{
    width:40%;
    height:auto;
    margin:0px 100px;
    border:2px solid black;
    border-radius:10px;
    background-color:transparent;
    font-family:'poppins';
    font-size:30px;
    font-weight:145px;
    color:#737373;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    text-decoration: none;
}
.Datail-product-order{
    font-style: italic;
}

@media only screen and (max-width: 800px)  {
    .Order-Main-Box1-Box{
        width:90%;
    }
    .Order5Button{
        width:80%;
        font-size:16px;
       
    }
    .Order5{
        margin:20px 0px;
    }
  }