.Custom{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'inter';
    margin: 20px 0px;
}

.Custom input{
   height: 46px;
   border-radius: 5px;
   border: 1px solid #B0B0B0;
}

.Custom-Submit-Button{
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #E2BF44;
    width: 50%;
    height: 40px;
    margin: 10px 0px;
}
.Custom-Box1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
}

.Custom-Box1-Box1{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Custom-Box1-Box2{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Custom-Box3
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
}
.Custom-Box2
{
    
    margin: 0px 0px 10px 0px;
}

.Custom-Box-InnerBox{
    width:80%;
}


.Custom-Box3-Box{
    width: 30%;
}

.Custom-Box4-Box{
    width: 30%;
}

.Custom-Size-Text{
    font-size: 18px;
}


@media only screen and (max-width: 600px){
.Custom-Submit-Button
{
width: 100%;
}
    
.Custom-Box4-Box
{
width: 100%;
}

    
.Custom-Box-InnerBox
{
width:95%;
}
.Custom input
{
    height: 35px;
}
.Custom-Size-Text{
    font-size: 12px;
}
 .Custom-Box-InnerBox label
{
    font-size: 12px;
}
}
