.Home {
  width: 100%;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial {
  background-color: #f5f5f5;
}

.carousel-item {
  padding: 50px !important;
}

.carousel-indicator {
  display: none !important;
}
.Home-Box6 {
  width: 80% !important;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}

/* .Home-Box1{
    height:600px;
    width:100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.NewArrival-Box1 {
  background-image: url("IMG_9098.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 10px;
}
.NewArrival-Box2 {
  background-image: url("IMG_9108.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 10px;
}
.NewArrival-Box3 {
  background-image: url("SDP05095.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 10px;
}
.clothesTypesBox1 {
  background-image: url("../../Images/dresses.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 47.57%;
  height: 100%;
}
.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
  display: none;
}

.clothesTypesBox2 {
  background-image: url("../../Images/co-ords.jpeg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  margin: 0px 10px;
  width: 47.57%;
  height: 100%;
}
.clothesTypesBox3 {
  background-image: url("../../Images/mid.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.clothesTypesBox4 {
  background-image: url("../../Images/shirts.jpeg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  margin: 0px 10px;
  width: 47.57%;
  height: 100%;
}
.widthFixForMImage {
  width: 350px;
  height: 350px;
  padding: 5px;
  cursor: pointer;
}

.widthFixForPImage {
  width: 600px;
  padding: 5px;
  height: 600px;
  cursor: pointer;
}

.clothesTypesBox5 {
  background-image: url("../../Images/skirts.jpeg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  margin: 0px 10px;
  width: 47.57%;
  height: 100%;
}

.clothesTypes-Button {
  width: 30%;
  height: 50px;
  border-radius: 72px;
  background-color: #e2bf44;
  color: white;
  padding: 19px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  border: none;
  position: relative;
}
.clothesTypes-Button2 {
  width: 15%;
  height: 50px;
  border-radius: 72px;
  background-color: #e2bf44;
  color: white;
  padding: 19px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  border: none;
}

.multi-carousel-container {
  width: 100%;
  margin: 10px;
}

.react-multi-carousel-item {
  height: auto;
}

.carousel-best-image {
  width: 100%;
  height: 100%;
}

.item-multicarousel {
  height: 100%;
}

.Home-Box1-Heading {
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: 64px;
}

.Home-Box1-Description {
  font-family: "Poppins";
  font-weight: 400;
  color: white;
  cursor: pointer;
  font-size: 40px;
}

.Home-Box1 {
  cursor: pointer;
}

.Home-Box1-Button {
  text-decoration: none;
  width: 25%;
  height: 12%;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 400;
  color: black;
  font-size: 40px;
  cursor: pointer;
  border-radius: 17px;
  margin: 10px 0px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Home-Box2 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 30px;
}

.Home-Box2-Box1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abhaya Libre";
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  margin: 20px 0px;
}
.Home-Box2-Box5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abhaya Libre";
  font-size: 32px;
  font-weight: 400;
  color: #000000;
}
.Home-Box3 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 30px;
}

.Home-Box3-Box1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Abhaya Libre;
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  margin: 20px 0px;
}

.Home-Box3-Box1-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Home-Box3-Box1-Box-InnerBox1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 650px;
  margin: 20px 0px;
}

.clothesTypesBox3 {
  width: 79%;
  height: 700px;
  margin: 20px 0px;
}

.clothesTypesBox1-Box1 {
  font-family: "Abhaya Libre";
  font-size: 64px;
  font-weight: 700;
  color: white;
}

.clothesTypes-Button input {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .Home-Box3-Box1-Box-InnerBox1 {
    height: 320px;
  }
  .clothesTypesBox1-Box1 {
    font-size: 32px;
  }

  .clothesTypesBox3 {
    height: 500px;
  }
  .clothesTypes-Button {
    width: 40%;
    font-size: 28px;
  }
  .Home-Box1 {
    height: 500px;
    cursor: pointer;
  }

  .Home-Box4 {
    height: 500px;
    cursor: pointer;
  }

  .Home-Box1-Heading {
    font-size: 40px;
    cursor: pointer;
  }

  .Home-Box1-Description {
    font-size: 30px;
    cursor: pointer;
  }

  .Home-Box1-Button {
    height: 18%;
    font-size: 40px;
    width: 30%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
  .Home-Box3-Box1-Box-InnerBox1 {
    height: 260px;
  }
  
  .Home-Box1 {
    height: 250px !important;
    cursor: pointer;
  }

  .clothesTypesBox1-Box1 {
    font-size: 25px;
  }

  .clothesTypesBox3 {
    height: 400px;
  }
  .clothesTypes-Button {
    width: 40%;
    font-size: 25px;
    height: 40px;
  }
  .Home-Box1-Heading {
    font-size: 30px;
  }

  .Home-Box1-Description {
    font-size: 25px;
  }

  .Home-Box1-Button {
    height: 15%;
    font-size: 35px;
    width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .Home-Box3-Box1-Box-InnerBox1 {
    height: 200px;
  }
  .carousel-item {
    padding: 35px !important;
  }
  .Home-Box1 {
    height: 230px;
  }

  .Home-Box1-Heading {
    font-size: 20px;
  }

  .Home-Box1-Description {
    font-size: 18px;
  }

  .Home-Box1-Button {
    height: 12%;
    width: 25%;
    font-size: 16px;
  }

  .clothesTypesBox1-Box1 {
    font-size: 20px;
  }

  .clothesTypesBox3 {
    height: 200px;
  }

  .clothesTypes-Button {
    width: 40%;
    font-size: 15px;
    height: 30px;
  }
}

/* @media only screen and (max-width: 1024px) and (min-width: 464px) {
  .carousel-best-image {
    height: 80%;
  }
  .clothesTypesBox1 {
    height: 80%;
  }
  .clothesTypesBox2 {
    height: 80%;
  }
  .clothesTypesBox3 {
    width: 98%;
  }
  .clothesTypesBox5 {
    height: 80%;
  }
  .clothesTypesBox4 {
    height: 80%;
  }
  .Home-Box3-Box1-Box-InnerBox1 {
    margin: -20px 0px;
  }
} */

@media only screen and (max-width: 464px) {
  .carousel-best-image {
    height: 90%;
  }
  
  .Home-Box6 {
    width: 80% !important;
    padding: 15px !important;
    font-size: 15px !important;
    font-weight: 400;
  }
  .multi-carousel-container {
    width: 80%;
    margin: 10px;
  }
  .clothesTypesBox1 {
    width: 42% !important;
  }
  .clothesTypesBox2 {
    width: 42% !important;
  }
  .clothesTypesBox4 {
    width: 42% !important;
  }
  .clothesTypesBox5 {
    width: 42% !important;
  }
}

@media only screen and (width: 2560px) {
  .carousel-best-image {
    height: auto !important;
  }
  .clothesTypesBox1 {
    height: 100% !important;
  }
  .clothesTypesBox2 {
    height: 100% !important;
  }
  .clothesTypesBox3 {
    height: 1000px;
  }
  .clothesTypesBox4 {
    height: 100% !important;
  }
  .clothesTypesBox5 {
    height: 100%;
  }
}

@media only screen and (width: 896px) {
  .carousel-best-image {
    height: auto;
  }
  .clothesTypesBox1 {
    height: 90%;
    margin-bottom: 10px;
    width: 40%;
  }
  .clothesTypesBox2 {
    height: 90%;
    margin-bottom: 10px;
    width: 40%;
  }
  .clothesTypesBox3 {
    width: 83% !important;
    height: 400px;
  }
  .clothesTypesBox4 {
    height: 90%;
    margin-bottom: 20px;
    width: 40%;
  }
  .clothesTypesBox5 {
    height: 90%;
    margin-bottom: 20px;
    width: 40%;
  }
}

@media only screen and (width: 1180px) {
  .carousel-best-image {
    height: auto;
  }
  .clothesTypesBox1 {
    height: 70% !important;
    width: 40% !important;
  }
  .clothesTypesBox2 {
    height: 70% !important;
    width: 40% !important;
  }
  .clothesTypesBox3 {
    width: 83% !important;
    height: 700px !important;
  }
  .clothesTypesBox4 {
    height: 70% !important;
    width: 40% !important;
  }
  .clothesTypesBox5 {
    height: 70% !important;
    width: 40% !important;
  }
}

@media only screen and (width: 1024px) {
  .carousel-best-image {
    height: auto;
  }
  .clothesTypesBox1 {
    height: 70% !important;
    width: 40%;
  }
  .clothesTypesBox2 {
    height: 70% !important;
    width: 40%;
  }
  .clothesTypesBox3 {
    width: 83%;
    height: 500px !important;
  }
  .clothesTypesBox4 {
    height: 70% !important;
    width: 40%;
  }
  .clothesTypesBox5 {
    height: 70% !important;
    width: 40%;
  }

  .Home-Box3-Box1-Box-InnerBox1 {
    margin: -90px !important;
  }
}

@media only screen and (width: 820px) {
  .Home-Box3-Box1-Box-InnerBox1 {
    margin: 0px;
  }
  .carousel-best-image {
    height: auto;
  }
  .clothesTypesBox1 {
    height: 100%;
  }
  .clothesTypesBox2 {
    height: 100%;
  }
  .clothesTypesBox3 {
    width: 97%;
    height: 340px;
  }
  .clothesTypesBox4 {
    height: 100%;
    margin-bottom: 10px;
  }
  .clothesTypesBox5 {
    height: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (height: 1080px) {
  .carousel-best-image {
    width: 100%;
    height: 100% !important;
  }
  .Home-Box6 {
    width: 80% !important;
    padding: 15px !important;
    font-size: 18px !important;
    font-weight: 600;
  }
  .clothesTypesBox1 {
    height: 320px !important;
    width: 320px !important;
  }
  .clothesTypesBox2 {
    height: 320px !important;
    width: 320px !important;
  }
  .clothesTypesBox3 {
    width: 663px !important;
    height: 350px !important;
  }
  .clothesTypesBox4 {
    height: 320px !important;
    width: 320px !important;
  }
  .clothesTypesBox5 {
    height: 320px !important;
    width: 320px !important;
  }
}

@media only screen and (width: 1080px) {
  .carousel-best-image {
    width: 100%;
    height: 100% !important;
  }
  .Home-Box3-Box1-Box-InnerBox1 {
    height: 500px;
  }
  .clothesTypesBox1 {
    height: 500px !important;
    width: 500px !important;
  }
  .clothesTypesBox2 {
    height: 500px !important;
    width: 500px !important;
  }
  .clothesTypesBox3 {
    width: 950px !important;
    height: 500px !important;
  }
  .clothesTypesBox4 {
    height: 500px !important;
    width: 500px !important;
  }
  .clothesTypesBox5 {
    height: 500px !important;
    width: 500px !important;
  }
}
@media only screen and (height: 852px) {
  .clothesTypesBox1 {
    height: 170px !important;
    width: 170px !important;
  }
  .clothesTypesBox2 {
    height: 170px !important;
    width: 170px !important;
  }
  .clothesTypesBox4 {
    height: 170px !important;
    width: 170px !important;
  }
  .clothesTypesBox5 {
    height: 170px !important;
    width: 170px !important;
  }
}
