.ProductDescriptionBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProductDescriptionBox1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.carousel-root {
  width: 80%;
}

.ProductDescriptionBox1-Box1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizeGuide {
  font-family: poppins;
  font-weight: 300;
  font-size: 15px;
  color: #040404;
  margin: 80px 0px 8px 0px;
  display: flex;
  justify-content: flex-end;
}

.ProductDescriptionBox1-Box2 {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0px 100px 0px 0px;
}

.Review-Button {
  width: 20%;
  height: 50px;
  border-radius: 72px;
  background-color: #e2bf44;
  color: white;
  padding: 19px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: none;
  margin: 30px 0px;
}
.Input-review {
  height: 40px;
}

.review-Inputs {
  border-radius: 5px;
  border: 1px solid #b0b0b0;
}

.ProductDescriptionBox2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: #080808;
  /* margin-top: -200px; */
}

.Review-Box-InnerBox {
  width: 45%;
}
.Size-Box {
  height: 58px;
  width: 58px;
  border: 1px solid #959595;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 50px;
}

.C-Sizebox {
  height: 58px;
  width: 90px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 10px;
}

.Color-Box {
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50%;
  margin: 0px 0px 0px 10px;
}
.cR {
  font-size: 30px;
}

.carousel-slider {
  height: 400px !important;
}

.Shop-Button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 60px 0px 0px 0px;
  padding: 0px;
}

.Buy-Button {
  width: 231px;
  height: 77px;
  border: none;
  font-family: "Inter";
  color: white;
  font-size: 28px;
}
.Shop-AddToCart {
  background-color: "white";
  width: 231px;
  height: 77px;
  border: none;
  font-family: "Inter";
  color: black;
  font-size: 28px;
  cursor: pointer;

  margin: 0px 20px 0px 0px;
}

.ProductDescriptionBox2-ProductBox {
  width: 50%;
  padding: 0px 100px 0px 20px;
  margin-top: -150px !important;
}

.ProductDescriptionBox2-ProductBox > h5 {
  width: 60%;
  font-size: 20px;
  font-weight: 500;
}

.ProductDescriptionBox2-ProductBox > p {
  width: 60%;
}

.Review-Box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel,
.carousel-inner > .item {
  display: run-in;
  width: 100%;
  height: 85px !important;
}

.negativeMargin {
  margin-bottom: -5px;
}

.Profile-Box-Text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0px 6px;
  font-family: Inter;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #e2bf44;
}
/* .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.carousel-container {
  margin-left: 0;
} */
.heart {
  width: 80px;
  height: 77px;
  padding-left: 20px;
}

.heart svg {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 930px) {
  .ProductDescriptionBox1 {
    flex-direction: column;
  }
  .sizeGuide {
    margin: 0px 0px 8px 0px;
  }
  .ProductDescriptionBox1-Box1 {
    width: 100%;
  }

  .ProductDescriptionBox1-Box2 {
    width: 100%;
  }
  .ProductDescriptionBox2 {
    margin-top: 0px;
  }
  .ProductDescriptionBox2-ProductBox {
    width: 90%;
    padding: 0px 50px 0px 0px;
    margin-top: 0px !important;
  }
  .Size-Box {
    margin: 0px 0px 0px 10px;
    height: 50px;
    width: 40px;
  }
  .ProductDescriptionBox2-ProductBox > h5 {
    width: 100%;
  }
  .C-Sizebox {
    height: 50px;
    width: 70px;
  }

  .ProductDescriptionBox2-ProductBox > p {
    width: 100%;
  }

  .Buy-Button {
    width: 150px;
    height: 40px;
    font-size: 20px;
  }
  .Shop-AddToCart {
    width: 150px;
    height: 40px;
    font-size: 20px;
  }
  /* .carousel,
  .carousel-inner > .item {
    display: run-in;
    width: 100%;
    height: auto !important;
  } */

  .cR {
    font-size: 20px;
  }

  /* .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
  }

  .carousel-container {
    margin-left: 0;
  } */

  .Shop-Button {
    justify-content: space-around;
    padding: 20px 20px;
    margin-top: 0px;
  }

  .ProductDescriptionBox1-Box2 {
    padding: 0px 10px 0px 0px;
  }

  .Review-Box {
    flex-direction: column;
  }

  .Review-Box-InnerBox {
    width: 100%;
  }
  .Review-Button {
    width: 100%;
  }
}

.Custom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "inter";
  margin: 20px 0px;
}

.custom input {
  height: 46px;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
}

.custom .Custom-Submit-Button {
  border: none;
  border-radius: 30px;
  color: white;
  background-color: #e2bf44;
  width: 50%;
  height: 40px;
  margin: 10px 0px;
}
.custom .Custom-Box1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.custom .Custom-Box1-Box1 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom .Custom-Box1-Box2 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom .Custom-Box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}
.custom .Custom-Box5 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0px 0px 10px 0px;
}
.custom .Custom-Box2 {
  margin: 0px 0px 10px 0px;
}

.custom .Custom-Box-InnerBox {
  width: 100%;
}

.custom .Custom-Box3-Box {
  width: 30%;
}

.custom .Custom-Box7-Box {
  width: 32%;
}

.custom .Custom-Box4-Box {
  width: 24%;
}

.custom .Custom-Box5-Box {
  width: 30%;
}

.custom .Custom-Size-Text {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .custom .Custom-Submit-Button {
    width: 100%;
  }
  .custom .Custom-Box-InnerBox {
    width: 95%;
  }
  .custom .Custom input {
    height: 35px;
  }
  .custom .Custom-Size-Text {
    font-size: 12px;
  }
  .custom .Custom-Box-InnerBox label {
    font-size: 12px;
  }
  .Shop-Button {
    padding: 20px 0px 20px 20px;
  }
  .ProductDescriptionBox2-ProductBox {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 464px) {
  .Size-Box {
    margin: 0px 0px 0px 10px !important;
  }
  .Shop-AddToCart {
    font-size: 22px;
  }
  .Buy-Button {
    font-size: 22px;
  }
}

@media only screen and (width: 1180px) {
  .Size-Box {
    margin: 0px 0px 0px 30px !important;
  }
}
@media only screen and (width: 414px) {
  .Size-Box {
    margin: 0px 0px 0px 30px !important;
  }
}
@media only screen and (width: 390px) {
  .Size-Box {
    margin: 0px 0px 0px 10px !important;
  }
}
@media only screen and (width: 820px) {
  .Size-Box {
    margin: 0px 0px 0px 30px !important;
  }
  .Shop-Button{
    justify-content: end !important;
  }
}
@media only screen and (width: 896px) {
  .Shop-Button{
    justify-content: end !important;
  }
}