.Shop{
    width:100%;
    margin:50px 0px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
}
.category{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0px 50px;
    font-family: Inter;
}
.Card{
    width:100%;
    
}

.Card img{
    width:100%;
    
}
.Card-Title{
    font-family:'Poppins';
    font-size:18px;
    font-weight:300;
    margin:5px 0px;
}

.Card-Description{
    font-family:'Poppins';
    font-size:18px;
    font-weight:300;
}

.Card-Category{
    font-family:'Poppins';
    font-size:14px;
    font-weight:300;
}

.Card-Body-Color{
    margin:30px 0px;
}

.Product-Small-Cards{
    text-decoration: none;
    color: #737373;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card-Body-Color-Box1{
    font-family:'poppins';
    font-weight:300;
    font-size:16px;
    color:#737373;
}
.Card-Body-Color-Box2{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}

.Card-Body-Color-Box2-InnerBox{
    height:20px;
    width:20px;
    border:none;
    border-radius:50%;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #E2BF44;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #E2BF44;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .Product-Container{
    width: 80%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  @media only screen and (max-width: 800px) and (min-width: 500px) {
    .category{
        width: 50%;
    }
    .Product-Container{
        width: 50%;
      }
     

  }


  @media only screen and (max-width: 500px) {
    .category{
        width: 65%;
    }
    .Product-Container{
        width: 35%;
      }
      
  }