.Footer{
    background-color: #E2BF44;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
}

.Footer-inner-box{
    height:90%;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

@media only screen and (max-width: 600px){
    .Footer-inner-box
    {
    width:90%;
    }
}
@media only screen and (max-width: 700px){
    .Footer{
    margin: 0px 0px 50px 0px;
    }
}
    