.Navbar {
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.Navbar-box1 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px 0px;
  margin-bottom: -30px !important;
}
.Navbar-box1-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Profile-Box-Text {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0px 6px;
  font-family: Inter;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #e2bf44;
}

.search-text {
  font-size: 50px;
  color: white;
}
.searchInput {
  height: 28px;
  border: none;
  background-color: #fffff3;
  width: 50%;
  padding: 20px;
}

.searchInput.textarea:focus,
input:focus {
  outline: none;
}
.resultList ul {
  list-style-type: none;
}

ul li img {
  width: 50px;
}

.resultList {
  max-width: 759px;
  position: absolute;
  background: hsl(0, 0%, 100%);
  width: 100%;
  right: 380px;
  cursor: pointer;
  max-height: 306px;
  overflow-y: auto;
  z-index: 999999;
}

.resultList li {
  padding: 10px;
}

.Navbar-box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.SearchBox {
  margin-top: 70px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  right: 0px;
  left: 0px;
  top: 60px;
  border: none;
  height: auto;
  background-color: rgb(226, 191, 68);
  font-family: "inter";
}

#whatsapp-button {
  position: fixed;
  bottom: 4%;
  right: 3%;
  z-index: 10000;
  width: 180px;
  font-size: 13px;
}

.nav_container {
  max-width: 700px;
  margin: 10px auto;
}

.Navbar-box3 a {
  color: #000000;
  text-decoration: none;
}

.Navbar-box3 a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.el {
  border: 1px solid rgb(145, 142, 142);
  white-space: nowrap;
  max-width: 300px;
  padding: 0.2em 0.5em;
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 6px;
  box-shadow: -1px 1px 4px 1px rgb(100 91 91 / 75%);
}

.el a {
  color: black;
  padding-top: 5px !important;
}
.Navbar-box3 a {
  color: #000000 !important;
  text-decoration: none;
}

.Navbar-box3 a:hover {
  color: #000000 !important;
  text-decoration: none;
  cursor: pointer;
}
.right-drop-menu li a {
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  color: black;
}

.right-drop-menu {
  position: absolute;
  top: 105%;
  right: 0; /* Set the width to 80% of its parent container */
}

.dropbtn {
  padding: 16px;
  /* font-size: 16px; */
  border: none;
}

.p-dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 20px;
  cursor: pointer;
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.wclose {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  right: 10px;
  cursor: pointer;
  opacity: 1;
}

.wclose:before,
.wclose:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 12px;
  width: 1px;
  background-color: rgb(9, 8, 8);
}
.wclose:before {
  transform: rotate(45deg);
}
.wclose:after {
  transform: rotate(-45deg);
}
.rightMenu .dropdown {
  position: relative;
  display: inline-block;
}

.rightMenu .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.rightMenu .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
@media only screen and (max-width: 700px) {
  a {
    color: #818181 !important;
  }
  .Navbar-box3 {
    display: none;
  }
  .Navbar-link {
    display: none;
  }
  .rightMenu {
    display: none;
  }
  .Navbar-box1 {
    margin-bottom: 0px !important;
  }
  .Navbar-box2 img {
    width: 300px;
  }
  .search-text {
    font-size: 20px;
  }
  .resultList {
    right: 0px;
  }

  .SearchBox {
    margin: 0px 0px;
    padding: 36px 0px 0px;
  }
  #whatsapp-button {
    bottom: 9%;
    right: 3%;
  }
}
@media only screen and (min-width: 2560px) {
  .dropdown-content {
    font-size: 20px;
  }
}
