.Navbar {
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.Navbar-box1 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0px 0px 0px;
}
.Navbar-box1-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Profile-Box-Text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0px 6px;
  font-family: Inter;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #e2bf44;
}

.search-text {
  font-size: 50px;
  color: white;
}

.Navbar-box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #757575;
}
.SearchBox {
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  right: 0px;
  left: 0px;
  top: 60px;
  margin: 0px 0px;

  border: none;
  height: auto;
  background-color: rgb(226, 191, 68);
  min-height: 600px;
  font-family: "inter";
}

#whatsapp-button {
  position: fixed;
  bottom: 4%;
  right: 3%;
  z-index: 10000;
}

.nav_container {
  max-width: 700px;
  margin: 10px auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.el {
  border: 1px solid rgb(107, 103, 103);
  white-space: nowrap;
  max-width: 300px;
  padding: 0.2em 0.5em;
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 6px;
}

.el.a {
  color: black;
}

.dropbtn {
  padding: 16px;
  /* font-size: 16px; */
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 20px;
  cursor: pointer;
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 700px) {
  .Navbar-box3 {
    display: none;
  }
  .Navbar-link {
    display: none;
  }
  .Navbar-box2 img {
    width: 300px;
  }
  .search-text {
    font-size: 20px;
  }

  .SearchBox {
    margin: 0px 0px;
  }
  #whatsapp-button {
    bottom: 9%;
    right: 3%;
  }
}
