.Navbar{
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;

}

.Navbar-box1{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0px 0px 0px;
}
.Navbar-box1-box{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.Profile-Box-Text{
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  height:30px;
  width:30px;
  margin:0px 6px;
  font-family:Inter;
  font-weight:700;
  color:white;
  border: none;
  background-color:#E2BF44;
}

.search-text{
  font-size:50px;
}

.Navbar-box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:  #757575;
}
.SearchBox
{
    padding: 100px 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    z-index:9999;
    right:0px;
    left:0px;
    top: 110px;
    margin:0px 20px;
    border-radius:20px;
    border:2px solid black;
    height:auto;
    background-color:rgb(226, 191, 68);
    min-height:600px;
    font-family:'inter';
    
}



.close {
    position: absolute;
    width: 32px;
    height: 32px;
    top:10px;
    right:20px;
    cursor: pointer;
    opacity: 1;
  }
  
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: black;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  @media only screen and (max-width: 700px) {
    .Navbar-box3{
    display: none;
  }
  .Navbar-link{
    display: none;
  }
  .Navbar-box2 img{
    width: 300px;
  }
  .search-text{
    font-size:20px;
  }
  
  .SearchBox
  {
      margin:0px 0px;

      
  }
  }
